body {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(243, 235, 220);
}
table {
  background-color: wheat;
  margin: 1rem auto;
  text-align: left;
}
td,
th,
caption {
  padding: 0.5rem 3rem;
  border: 1px black solid;
}

input,
button {
  padding: 0.5rem;
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

thead,
tfoot,
caption {
  background-color: black;
  color: wheat;
}

button {
  color: wheat;
  background-color: black;
  border-radius: 5%;
}
